/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family:Arial, Helvetica, "微軟正黑體", sans-serif;
}

.container {
    margin: 0 auto;
    max-width:1000px;
}

h1{
	font-size: 80px;
	margin:20px 20px 20px 0px;
    border-bottom: solid 2px;
    padding: 20px 20px 20px 0px;
}

.photo img{
    width: 300px;
    height: 400px;
	margin:20px 20px 20px 0px; 
}

.profile .title{
	line-height: 1px;
	font-size: 32px;
	border-bottom: solid 2px;
	margin:20px 20px 20px 0px;
	padding: 20px 20px 20px 0px;
	font-family: Andale Mono;
}

.profile span{
	color:#A00404;
	font-size:24px;
	margin-left:10px;
}

.profile ul{
	margin:5px 5px 5px 0px;
}

.profile ul li{
	padding:10px 10px 10px 0px;
	line-height: 30px;
}

.education .title{
	line-height: 1px;
	font-size: 32px;
	border-bottom: solid 2px;
	margin:20px 20px 20px 0px;
	padding: 20px 20px 20px 0px;
}

.education span{
	color:#A00404;
	font-size:24px;
	margin-left:10px;
}

.education ul{
	margin:10px 10px 10px 0px;
}

.education ul li{
	padding:10px 10px 10px 0px;
	line-height: 20px;
}

.skill{
	background:#415165;
	margin:20px auto;
}

.skills{
	color: #fff;
	border-bottom:solid 1px;
	font-size: 24px;
	padding:10px;
	text-align: center;
	margin:10px auto;
	width: 600px;
}

.skills span{
	margin-left: 10px;
	font-size:20px;
}

.skill .container .skills-block {
    display: flex;
    justify-content: center;
}


.skill ul{
	padding:20px;
	
}

.skill ul li{
	color:#fff;
	padding:5px;
	text-align: center;
	margin:0 auto;
	border-left: 1px solid;
	width: 200px;
}

.work{
	margin: 0 auto;
    max-width:1000px;
}

.work .title{
	line-height: 1px;
	font-size: 32px;
	border-bottom: solid 2px;
	margin: 20px 20px 20px 0px;
	padding: 20px 20px 20px 0px;
}

.work span{
	color:#A00404;
	font-size:24px;
	margin-left:10px;
}

.work ul li{
	padding-left:20px;
	padding-bottom:10px;
	line-height: 20px;
	border-left: 1px solid #96A9C4;
}
.work img{
    width: 140px;
    height: 140px;
	margin: 10px 0 5px 0;
}

.work p{
	font-size:14px;
}

footer{
	background:#415165;
	text-align: center;
}

footer span{
	margin-left: 10px;
	font-size:20px;
}

footer .contact{
	color:#fff;
	padding:10px;
	border-bottom:solid 1px;
	font-size:24px;
	width: 600px;
	margin:10px auto;
}

footer ul li{
	color:#fff;
	padding:10px;
}

footer a{
	color:#fff;
}
footer a img{
    width: 32px;
    height: 32px;
}

footer .section{
	padding-bottom:5px;
	margin:10px auto;
	justify-content: space-between;
	display: flex;
	width:180px;
}

















